@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-align: center;
}
#root, #__next {
    isolation: isolate;
}

header, footer {
    color: white;
    background-color: brown;
    display: grid;
    align-items: center;
}

#main-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#sidebar {
    background-color: orange;
}

#list-container {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.todoItemDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.todoItemDiv > * {
    text-align: left;
}

#new-todo-dlg-btn{
    position: fixed;
    width: fit-content;
    height: fit-content;
    right: 50px;
    bottom: 250px;
    box-shadow: 2px 2px 3px #999;
}

#new-todo-form-dlg {
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 3px #999;
}

#todo-form {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

#todo-form > label {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content:space-between;
}